@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kumbh+Sans:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kumbh+Sans:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&family=Young+Serif&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
:root {
  --stone-100: hsl(30, 54%, 90%);
  --stone-150: hsl(30, 18%, 87%);
  --stone-600: hsl(30, 10%, 34%);
  --stone-900: hsl(24, 5%, 18%);
  --brown-800: hsl(14, 45%, 36%);
  --rose-800: hsl(332, 51%, 32%);
  --rose-50: hsl(330, 100%, 98%);
}
body {
  background-color: var(--stone-100);
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
  font-family: "Outfit";
}
.card {
  background-color: white;
  padding: 40px;
  border-radius: 20px;
  max-width: 750px;
  width: 100%;
  margin: 100px 0;
}
.card .image {
  margin-bottom: 20px;
}
.card .image img {
  border-radius: 10px;
}
.card .recipe p.special {
  font-family: "Young Serif", serif;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 38px;
  margin-bottom: 20px;
  color: var(--stone-900);
}
.card .recipe p.normal {
  color: var(--stone-600);
  margin-bottom: 40px;
}

.time {
  background-color: var(--rose-50);
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}
.time p {
  color: var(--rose-800);
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 20px;
}
ul li {
  position: relative;
  color: var(--stone-600);
  margin-left: 40px;
  margin-bottom: 10px;
}
.time ul li span {
  color: var(--stone-600);
  font-weight: 600;
  text-transform: capitalize;
}
ul li::before {
  content: "â— ";
  position: absolute;
  left: -30px;
  color: var(--rose-800);
  font-size: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.ing {
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 40px;
}
.ing p {
  font-family: "Young Serif", serif;
  text-transform: capitalize;
  color: var(--brown-800);
  font-size: 30px;
  margin-bottom: 20px;
}
.ing ul li::before {
  color: var(--brown-800);
}
.ing ul li:last-child {
  margin-bottom: 30px;
}
.ins {
  padding-right: 20px;
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 40px;
}
.ins p {
  font-family: "Young Serif", serif;
  text-transform: capitalize;
  color: var(--brown-800);
  font-size: 30px;
  margin-bottom: 20px;
}
.ins ol li {
  position: relative;
  color: var(--stone-600);
  margin-left: 40px;
  margin-bottom: 10px;
  line-height: 1.4;
  counter-increment: counter;
}
.ins ol li span {
  color: var(--stone-600);
  font-weight: 600;
}
.ins ol li::before {
  content: counter(counter) " .";
  position: absolute;
  left: -30px;
  color: var(--brown-800);
  top: 0;
  font-weight: 700;
}
.ins ol li:last-child {
  margin-bottom: 30px;
}
.nut > p.special {
  font-family: "Young Serif", serif;
  text-transform: capitalize;
  color: var(--brown-800);
  font-size: 30px;
  margin-bottom: 20px;
}
.nut > p.normal {
  color: var(--stone-600);
  margin-bottom: 20px;
}
.nut .data .box p.normal {
  color: var(--stone-600);
  text-transform: capitalize;
}
.nut .data .box {
  display: flex;
  justify-content: space-between;
}
.nut .data .box {
  padding-top: 10px;
  padding-bottom: 10px;
}
.nut .data .box:not(:last-child) {
  border-bottom: 1px solid #e8e8e8;
}
.nut .data .box p.normal {
  width: 50%;
  padding-left: 30px;
}
.nut .data .box p.special {
  color: var(--brown-800);
  font-weight: 700;
  flex: 1;
}
@media (max-width: 585px) {
  .card {
    margin: 0;
    padding: 0;
    border-radius: 0;
    padding-bottom: 40px;
  }
  .card .image img {
    border-radius: 0;
  }
  .time {
    margin-bottom: 30px;
  }
  .holder {
    padding: 0 30px;
  }
}
